[submodule "tests/switch-str"]
	path = tests/switch-str
	url = https://github.com/yurablok/switch-str.git
[submodule "tests/minijson_reader"]
	path = tests/minijson_reader
	url = https://github.com/giacomodrago/minijson_reader.git
[submodule "tests/tests/nlohmann_json"]
	path = tests/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "tests/tests/rapidjson"]
	path = tests/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "tests/minijson_writer"]
	path = tests/minijson_writer
	url = https://github.com/giacomodrago/minijson_writer.git
